body {
  /* font-family: Gill Sans, sans-serif !important; */
}

.accordian {
  /* font-family: 'Times New Roman', Times, serif, sans-serif ! !important; */
}

#piccards {
  padding: 2% !important;
}

#data-info {
  background-color: #cfe2ff;
  margin: 2%;
  border-radius: 10px;
  width: auto;
  text-align: left;
  padding: 2% !important;
}

#whatarewedoingh3 {
  padding: 2%;
}

.carousel {
  border-radius: 30px;
  max-width: 80%;
  height: auto;
  margin: auto;
}

#text1 {
  margin: auto;
  /* font-size: x-large; */
}

#image1 {
  height: auto;
  margin: 1%;
  padding: 1%;
}

.nav-item {
  padding: 0.5em;
}

#Countrydata {
  background-color:
    #33ff69;
  border-radius: 10px;
}

#data-info-div {
  margin: auto;
}

#datablock {
  background-color: pink;
  /* height: 600px; */
  width: 95%;
  margin: auto;
  margin-top: 2%;
  border-radius: 10px;
}

#dataNavBar {
  border-radius: 10px;
  background-color: pink;
}

#dataNavBarButtons {
  /* background-color: pink; */
  border: solid;
  border-color: black;
  border-radius: 10px;
}