body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#piccards {
  padding: 2% !important;
}

#data-info {
  background-color: #cfe2ff;
  border-radius: 10px;
  text-align: left;
  margin: auto
}

#whatarewedoingh3 {
  padding: 2%;
}

.carousel {
  border-radius: 30px;
}

#text1 {
  margin: auto;
}

#image1 {
  border-radius: 30px;
  max-width: 35%;
  min-width: 350px;
  height: auto;
  margin: auto;
}

#image2 {
  margin: 1%;
  padding: 1%;
  /* min-width: fit-content; */
  max-width: 500px;

  border-radius: 30px !important;
}

.nav-item {
  padding: 0.5em;
}

#Countrydata {
  background-color:
    #33ff69;
  border-radius: 10px;
}

#data-info-div {
  margin: auto;
}

#datablock {
  background-color: pink;
  width: 95%;
  margin: auto;
  margin-top: 2%;
  border-radius: 10px;
}

#dataNavBar {
  border-radius: 10px;
  background-color: pink;
}

#dataNavBarButtons {
  border: solid;
  border-color: black;
  border-radius: 10px;
}