body {
  /* font-family: Gill Sans, sans-serif !important; */
}

.accordian {
  /* font-family: 'Times New Roman', Times, serif, sans-serif ! !important; */
}

.carousel {
  border-radius: 30px;
  max-width: 80%;
  height: auto;
  margin: auto;
}

#text1 {
  margin: auto;
  font-size: x-large;
}

#image1 {
  border-radius: 30px;
  max-width: 32%;
  min-width: 350px;
  height: auto;
  margin: auto;
  padding: 1%;
}

.nav-item {
  padding: 0.5em;
}

#Countrydata {
  background-color:
    #33ff69;
  border-radius: 10px;
}

#datablock {
  background-color: pink;
  /* height: 600px; */
  width: 95%;
  margin: auto;
  margin-top: 2%;
  border-radius: 10px;
}

#dataNavBar {
  border-radius: 10px;
  background-color: white;
}

#dataNavBarButtons {
  /* background-color: pink; */
  border: solid;
  border-color: black;
  border-radius: 10px;
}